.question-item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;

  .published {
    color: lightgreen;
  }

  .unpublished {
    color: #666;
  }
}
